{% load static %}
{% load rating_tags %}

<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        {% if product.sale %}
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Скидка {{ product.sale }}%</div>
        {% endif %}
        <!-- Product image-->
        <a href="{% url "main:product_detail" product.id %}">
            <img class="card-img-top" src="{{ product.image.url|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' }}" alt="{{ product.name }}">
        </a>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">
                    <a href="{% url "main:product_detail" product.id %}" class="text-dark">{{ product.name }}</a>
                </h5>
                <div class="mb-2">
                    <span class="text-muted">Категория: </span>
                    <a href="{% url "main:category" product.category.slug %}" class="text-decoration-none">{{ product.category }}</a>
                </div>
                <div class="mb-2">
                    <span class="text-muted">Производитель: </span>
                    <a href="{% url "main:manufacturer" product.manufacturer.slug %}" class="text-decoration-none">{{ product.manufacturer }}</a>
                </div>
                <div class="mb-2">
                    Доступно в <strong>{{ product.num_shop }}</strong> магазинах
                </div>
                <div class="mb-2">
                    В наличии: <strong>{{ product.num_products }}</strong> шт.
                </div>
                {% if product.num_coloursets %}
                    <div class="mb-2">
                        Всего цветов: <strong>{{ product.num_coloursets }}</strong>
                    </div>
                {% endif %}
                <!-- Product reviews-->
                {% if product.rating > 0 %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        {% get_range product.rating as range %}
                        {% for _ in range %}
                            <i class="bi bi-star-fill"></i>
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- Product price-->
                <div class="fw-bold fs-5">
                    {% if product.sale %}
                        <span class="text-muted text-decoration-line-through">{{ product.price }} руб.</span>
                        {{ product.actual_price }} руб.
                    {% else %}
                        {{ product.price }} руб.
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="">Добавить в корзину</a>
            </div>
        </div>
    </div>
</div>
