{% extends "base.html" %}
{% load static %}
{% load cart_tags %}

{% block title %}Корзина{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
{% endblock breadcrumb %}

{% block content %}
<style>
    .btn-compact {
        padding: 0.25rem 0.5rem;
        border: none;
        line-height: 1;
        vertical-align: middle;
    }
</style>
<section class="py-4">
    <div class="container">
        <h2>Ваша корзина</h2>
        {% if carts.total_quantity > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цвет</th>
                        <th>Количество</th>
                        <th>Цена за единицу</th>
                        <th>Цена со скидкой</th>
                        <th>Сумма</th>
                        <th>Экономия</th>
                        <th></th> <!-- Колонка для удаления товара -->
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td><a href="{% url "main:product_detail" cart.product.id %}">{{ cart.product.name }}</a></td>
                            <td>{{ cart.colorproduct }}</td>
                            <td>
                                <a href="{% url 'cart:cart_change' cart.colorproduct.id %}" class="btn btn-sm btn-compact btn-outline-secondary">-</a>
                                {{ cart.quantity }}
                                <form action="{% url 'cart:cart_add' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="colorproduct_id" value="{{ cart.colorproduct.id }}">
                                    <button type="submit" class="btn btn-sm btn-compact btn-outline-secondary">+</button>
                                </form>
                            </td>
                            <td>{{ cart.product.price }}</td>
                            <td>{{ cart.product.actual_price }}</td>
                            <td>{{ cart.product_price }}</td>
                            <td>{{ cart|total_saving }}</td>
                            <td>
                                <a href="{% url 'cart:cart_remove' cart.id %}" class="btn btn-danger btn-sm">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Общая сумма:</td>
                        <td>{{ carts.total_price }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>



            {% if request.user.is_authenticated %}
            <div class="text-end">
                <a href="{% url "order:create_order" %}" class="btn btn-primary">Оформить заказ</a>
            </div>
            {% else %}
                <h4> Для оформления заказа, пожалуйста, зарегистрируйтесь:</h4>
                <a href="{% url 'users:email_verification' %}" class="btn btn-primary">Зарегистрироваться</a>
            {% endif %}
            {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}
