{% extends "base.html" %}
{% load static %}
{% load cart_tags %}

{% block title %}Оформление заказа{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
{% endblock breadcrumb %}

{% block content %}
<section class="py-4">
    <div class="container">
        <h2>Оформление заказа</h2>
        {% if carts.total_quantity > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цвет</th>
                        <th>Количество</th>
                        <th>Цена за единицу</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td><a href="{% url "main:product_detail" cart.product.id %}">{{ cart.product.name }}</a></td>
                            <td>{{ cart.colorproduct }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{ cart.product.actual_price }}</td>
                            <td>{{ cart.product_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Итоговая сумма:</td>
                        <td>{{ carts.total_price }}</td>
                    </tr>
                </tfoot>
            </table>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <li class="alert alert-danger alert-dismissable fade show">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" id="orderForm" action="{% url "order:create_order" %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <label for="firstName" class="form-label">Имя*</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" 
                            value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                            required>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissable fade show">{{ form.first_name.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label for="lastName" class="form-label">Фамилия*</label>
                        <input type="text" class="form-control" id="lastName" name="last_name"
                            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" 
                            required>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissable fade show">{{ form.last_name.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label for="phone" class="form-label">Телефон*</label>
                        <input type="tel" class="form-control" id="phone" name="phone"
                            value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" 
                            required>
                        {% if form.phone.errors %}
                            <div class="alert alert-danger alert-dismissable fade show">{{ form.phone.errors}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <div>Способ доставки*:</div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="requires_delivery" id="requires_delivery"
                            value="false" onchange="toggleDeliveryForm(false)" checked>
                        <label class="form-check-label" for="requires_delivery">
                            Забрать в магазине
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="requires_delivery" id="requires_delivery" 
                            value="true" onchange="toggleDeliveryForm(true)">
                        <label class="form-check-label" for="requires_delivery">
                            Доставка по городу
                        </label>
                    </div>
                </div>
                <div id="deliveryInfo" style="display:none;">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="city" class="form-label">Город*</label>
                            <input type="text" class="form-control" id="city" name="delivery_city"
                                value="{% if form.delivery_city.value %}{{ form.delivery_city.value }}{% endif %}" >
                            {% if form.delivery_city.errors %}
                                <div class="alert alert-danger alert-dismissable fade show">{{ form.delivery_city.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <label for="delivery_adress" class="form-label">Улица, дом, квартира*</label>
                            <input type="text" class="form-control" id="delivery_adress" name="delivery_adress"
                                value="{% if form.delivery_adress.value %}{{ form.delivery_adress.value }}{% endif %}">
                            {% if form.delivery_adress.errors %}
                                <div class="alert alert-danger alert-dismissable fade show">{{ form.delivery_adress.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="pickupInfo" style="display:block;">
                    
                    <label for="shop" class="form-label">Выберите магазин*</label>
                    <select class="form-select" id="shop" name="shop">
                        
                        <option value="">Выберите магазин...</option>
                        {% for shop in shops %}
                            <option value="{{ shop.id }}">{{ shop.name }}</option>
                        {% endfor %}
                    </select>
                    {% if form.shop.errors %}
                        <div class="alert alert-danger alert-dismissable fade show">{{ form.shop.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <div>Способ оплаты*</div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_on_get" value="false" id="paymentMethod" checked>
                        <label class="form-check-label" for="paymentMethod">
                            Картой онлайн
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_on_get" value="true" id="paymentMethod">
                        <label class="form-check-label" for="paymentMethod">
                            Наличными при получении
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Заказать</button>
            </form>

        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
</section>

<script>
    function toggleDeliveryForm(isDelivery) {
        var deliveryInfo = document.getElementById('deliveryInfo');
        var pickupInfo = document.getElementById('pickupInfo');
        var cityInput = document.getElementById('city');
        var addressInput = document.getElementById('delivery_adress');
    
        deliveryInfo.style.display = isDelivery ? 'block' : 'none';
        pickupInfo.style.display = !isDelivery ? 'block' : 'none';
    
        cityInput.required = isDelivery;
        addressInput.required = isDelivery;
    
        if (!isDelivery) {
            cityInput.value = '';
            addressInput.value = '';
        }
    }
</script>
    

{% endblock content %}
