{% extends "base.html" %}
{% load rating_tags %}
{% load django_bootstrap5 %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:category' product.category.slug %}">{{ product.category }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:manufacturer' product.manufacturer.slug %}">{{ product.manufacturer }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="position-relative">
                    {% if product.sale %}
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem; z-index: 1000; border-radius: 0.5rem; padding: 0.5rem 1rem; font-size: 1rem; font-weight: bold;">Скидка {{ product.sale }}%</div>
                    {% endif %}
                    <a href="{% url "main:product_detail" product.id %}">
                        <img class="card-img-top" 
                            src="{% if product.image %}{{ product.image.url }}{% else %}https://dummyimage.com/450x300/dee2e6/6c757d.jpg{% endif %}"
                            alt="{{ product.name }}">
                    </a>
                </div>
            </div>            
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{ product.name }}</h1>
                    <a href="{% url "main:category" product.category.slug %}" class="badge bg-secondary">{{ product.category }}</a>
                    <p><strong>Производитель:</strong> <a href="{% url "main:manufacturer" product.manufacturer.slug %}">{{ product.manufacturer }}</a></p>
                    <p><strong>Страна:</strong> {{ product.manufacturer.country }}</p>
                    <form id="colorFilterForm" method="GET">
                        <p><strong>Цвета:</strong></p>
                        {% for item in shops_data %}
                            <label class="color-button {% if item.color.id|stringformat:"s" in selected_colors %}selected{% endif %}">
                                <input type="checkbox" name="color" value="{{ item.color.id }}" onchange="submitForm()"
                                    {% if item.color.id|stringformat:"s" in selected_colors %}checked{% endif %}
                                    style="display: none;">
                                {{ item.color }}
                            </label>
                        {% endfor %}
                    </form>

                    <style>
                        .color-button {
                            padding: 10px;
                            margin: 5px;
                            background-color: #f0f0f0;
                            border: 1px solid #dcdcdc;
                            display: inline-block;
                            cursor: pointer;
                        }
                        .color-button.selected {
                            background-color: #007BFF;
                            color: white;
                        }
                    </style>

                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <strong>Цена:</strong> 
                            {% if product.sale %}
                                <span class="text-decoration-line-through text-muted" style="font-size: 1.2rem;">{{ product.price }} руб.</span>
                                <span class="text-danger fw-bold" style="font-size: 1.5rem;">{{ product.actual_price }} руб.</span>
                            {% else %}
                                <span class="fw-bold" style="font-size: 1.5rem;">{{ product.price }} руб.</span>
                            {% endif %}
                            
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-outline-dark mt-auto" href="{% url "cart:cart_add" product.id %}">Добавить в корзину</a>
                        </div>
                        
                        <div class="list-group-item">
                            <strong>Доступно в магазинах:</strong>
                            <ul>
                            {% for shop_data in shops_data %}
                                {% if selected_colors %}
                                    {% if shop_data.color.id|stringformat:"s" in selected_colors %}
                                        <li>{{ shop_data.color }}
                                            <ul>
                                                {% for item in shop_data.items %}
                                                    <li>{{ item.shop }} – {{ item.quantity }} шт</li>
                                                {% endfor %}
                                                
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li>{{ shop_data.color }}
                                        <ul>
                                            {% for item in shop_data.items %}
                                                <li>{{ item.shop }} – {{ item.quantity }} шт</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="list-group-item">
                            <strong>Рейтинг:</strong> 
                            {% if product.rating == 0 %}
                                Неизвестен
                            {% else %}
                                {{ product.rating|floatformat:2 }}
                                <span class="d-flex align-items-center small text-warning">
                                    {% get_range product.average_rating as range %}
                                    {% for _ in range %}
                                        <i class="bi-star-fill"></i>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="list-group-item"><strong>Количество оценок:</strong> {{ product.reviews_count }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма и отзывы -->
    {% if user.is_authenticated %}
    <div class="card my-4">
        <div class="card-body">
            <h2 id="review_form"> 
                {% if '/edit_review/' in request.path %}
                    Отредактируйте отзыв:
                {% else %}
                    Оставьте свой отзыв:
                {% endif %}
            </h2>
            <form method="post" class="col-md-8" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary mt-2">
                    {% if '/edit_review/' in request.path %}
                    Изменить отзыв
                    {% else %}
                    Отправить отзыв
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <h2>Отзывы:</h2>
    {% for review in reviews %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5>{{ review.author }}</h5>
            <h6 class="text-muted">{{ review.created_at }}</h6>
            <div class="rating">
               {% get_range review.rating as review_range %}
               {% for star in review_range %}
                   <i class="bi-star-fill text-warning"></i>
               {% endfor %}
            </div>
            <p>{{ review.text }}</p>
            {% if review.photo %}
              <img src="{{ review.photo.url }}" class="img-thumbnail" alt="Фото отзыва">
            {% endif %}
            {% if request.user == review.author %}
                <a href="{% url "main:edit_review" product.id review.id %}#review_form" class="btn btn-outline-primary btn-sm">Редактировать</a>
                <a href="{% url "main:delete_review" review.id %}" class="btn btn-outline-danger btn-sm">Удалить</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function submitForm() {
        document.getElementById('colorFilterForm').submit();
    }
</script>

{% endblock %}


