{% extends "main/index.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item {% if view_name  == 'main:index' %}active{% endif %}"><a href="/">Домашняя страница</a></li>
    {% if view_name == 'main:category' %}
        <li class="breadcrumb-item"><a href="/">Категории</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'main:category' category.slug %}">{{ category }}</a></li>
    {% endif %}
    {% if view_name == 'main:manufacturer' %}
        <li class="breadcrumb-item"><a href="/">Производители</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'main:manufacturer' category.slug %}">{{ category }}</a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in product_list %}
                {% include "includes/product_card.html" %}
            {% endfor %}
        </div>
    </div>
</section>
{% include "includes/paginator.html" %}
{% endblock content %}

