{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Зарегистрируйтесь на сайте
{% endblock title %}

{% block h1 %}
    Зарегистрируйтесь на сайте
{% endblock h1 %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Введите код подтверждения
      </div>

      <div class="card-body">
        <form method="post" action="{% url 'users:code_verification' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="mb-3"> <!-- Добавлен margin-bottom класс для отступа между элементами -->
            <button type="submit" class="btn btn-primary">Проверить</button>
          </div>
        </form>
        <form method="post" action="{% url 'users:email_verification' %}">
          {% csrf_token %}
          <input type="hidden" name="email" value="{{ request.session.user_email }}">
          <div class="mb-3"> <!-- Аналогичный margin-bottom класс -->
            <button type="submit" id="resendButton" class="btn btn-secondary" disabled>Отправить код еще раз</button>
            <p id="timer" class="mt-2 mb-0"></p>
          </div>
        </form>
        <div class="mb-3"> <!-- Единообразный отступ для последней кнопки -->
          <a href="{% url 'users:email_verification' %}" class="btn btn-secondary">Изменить емейл</a>
        </div>
    </div>
    
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const button = document.getElementById('resendButton');
      const timerDisplay = document.getElementById('timer');
      let timeLeft = 3;  // Начальное время отсчета

      button.disabled = true;  // Начальное состояние кнопки
      timerDisplay.textContent = 'Доступно через ' + timeLeft + ' секунд';

      const timer = setInterval(function() {
        timeLeft--;
        timerDisplay.textContent = 'Доступно через ' + timeLeft + ' секунд';
        if (timeLeft <= 0) {
          clearInterval(timer);
          button.disabled = false;
          timerDisplay.textContent = ''; // Очистить текст счетчика после его окончания
        }
      }, 1000);  // Обновление таймера каждую секунду
    });
  </script>
{% endblock %}
