{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}{% endblock title %}
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "css/styles.css" %}" rel="stylesheet" />
  </head>
  <body>
    {% include "includes/navigation.html" %}
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">{% block h1 %}{% endblock h1 %}</h1>
              {% if show_description %}
                <p class="lead fw-normal text-white-50 mb-0">{% block description %}{% endblock description %}</p>
              {% endif %}
          </div>
      </div>
    </header>
    <!-- Content -->
    {% block content %} {% endblock content %}
    {% include "includes/footer.html" %}
  </body>
</html>
