{% load static %}
{% with request.resolver_match.view_name as view_name %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Добавляем подгрузку звездочек для рейтинга -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include "includes/navigation.html" %}

    <!-- Header -->
    <header class="bg-white py-2">
        <div class="container text-center">
            <h1 class="h4 fw-bolder text-dark">{% block h1 %}{% endblock h1 %}</h1>
            {% if show_description %}
                <p class="lead text-dark-50">{% block description %}{% endblock description %}</p>
            {% endif %}
        </div>
    </header>

    <!-- Breadcrumbs -->
    <div class="container mt-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock breadcrumb %}
            </ol>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    {% include "includes/footer.html" %}
</body>
</html>
{% endwith %}
